// 背景色
$pages-background-color: linear-gradient(
    80deg,
    #cef2fa 0%,
    8.44482%,
    rgb(209, 240, 236) 16.8896%,
    38.8796%,
    rgb(250, 239, 243) 60.8696%,
    80.4348%,
    #fbf3ef 100%
);
$pages-background-color-dark: linear-gradient(
    80deg,
    rgb(20, 40, 60) 0%,
    // 深蓝色
    8.44482%,
    rgb(25, 45, 50) 16.8896%,
    // 深青蓝色
    38.8796%,
    rgb(45, 30, 50) 60.8696%,
    // 深紫红色
    80.4348%,
    rgb(40, 35, 45) 100% // 深灰色
);

/* 主色调 */
$primary-color: #5de9e0; // 主蓝色
$primary-hover: #82dbf4; // 主色悬停状态
$primary-sub: #f24257; //次主色
// 辅色
$assistance-1: #f1b9b9;
$assistance-2: #df9e98;
$assistance-3: #fcfdff;
$assistance-4: #9ed4d4;
$assistance-5: #ffc0cb;
$assistance-6: #7296de;
$assistance-7: #7c95b5;
$assistance-8: #86bfbf;
$assistance-9: #af9b9b;
$assistance-10: #c57d76;

//中性色用于文字、背景、边框等
$color-1: #808080;
$color-2: #d3d3d3;
$color-3: #a9a9a9;
$color-4: #eae2de;
$color-5: #ffa500;
// 通用卡片阴影
$shadow-card:
    0px 4px 20px rgba(113, 113, 113, 0.25),
    0px 0px 0px 1px rgba(113, 113, 113, 0.1);

// 通用颜色
$general-black: #111;
$general-white: #fff;
$width: clamp(90px, 106px, 200px);
$insideShadow:
    calc($width * 0) calc($width * -0.025) calc($width * 0.025) 0 hsl(210 10% 10% / 0.15) inset,
    calc($width * 0) calc($width * 0.025) calc($width * 0.025) 0 hsl(210 10% 10% / 0.65) inset;

// 主题配置Map
$themes: (
    light: (
        // 基础色
        --primary-color: #ffffcc,
        --primary-sec-color: #ccffff,
        --primary-thri-color: #ffcccc,
        --primary-text-color: #fffafa,
        // 背景
        --bg-gradient-color-start: #ccffff,
        --bg-gradient-color-end: #ffcccc,
        // 文字
        --text-color: #111,
        --text-sec-color: #596164,
        // 阴影
        --shadow-card: 2px 4px 8px rgba(0, 0, 0, 0.5)
    ),

    dark: (
        --primary-color: #ffffcc,
        --primary-sec-color: #ccffff,
        --primary-thri-color: #ffcccc,
        --primary-text-color: #fffafa,
        // 背景
        --bg-gradient-color-start: #313436,
        --bg-gradient-color-end: #0a0b0c,
        // 文字
        --text-color: #f9f9f9,
        --text-sec-color: #cfd2d5,
        // 阴影
        --shadow-card: 2px 4px 8px rgba(255, 255, 255, 0.5)
    )
);

// 主题工具函数
@mixin theme-foreach {
    @each $theme-name, $theme-map in $themes {
        [data-theme="#{$theme-name}"] & {
            @content;
        }
    }
}

@function themed($key) {
    @return var(--#{$key});
}

// 动态主题
@each $theme-name, $theme-map in $themes {
    [data-theme="#{$theme-name}"] {
        @each $key, $value in $theme-map {
            #{$key}: $value;
        }
    }
}

// 渐变背景Mixin
@mixin gradient-background($start-color-key, $end-color-key, $angle: 180deg) {
    @include theme-foreach {
        $start-color: themed($start-color-key);
        $end-color: themed($end-color-key);

        background-image: linear-gradient($angle, $start-color 10%, $end-color 100%);
    }
}
// 普通背景色
@mixin background($color-key) {
    @include theme-foreach {
        background-color: themed($color-key);
    }
}
//文字颜色
@mixin text-color($color-key) {
    @include theme-foreach {
        $current-color: themed($color-key);
        color: $current-color;
    }
}
// 阴影
@mixin boxshadow($color-key) {
    @include theme-foreach {
        box-shadow: themed($color-key);
    }
}
