/* 主色调 */
$primary-color: #5de9e0; // 主蓝色
$primary-hover: #82dbf4; // 主色悬停状态
$primary-sub: #f24257; //次主色
// 辅色
$assistance-1: #f1b9b9;
$assistance-2: #df9e98;
$assistance-3: #fcfdff;
$assistance-4: #9ed4d4;
$assistance-5: #ffc0cb;
$assistance-6: #7296de;
$assistance-7: #7c95b5;
$assistance-8: #86bfbf;
$assistance-9: #af9b9b;
$assistance-10: #c57d76;

//中性色用于文字、背景、边框等
$color-1: #808080;
$color-2: #d3d3d3;
$color-3: #a9a9a9;
$color-4: #eae2de;
$color-5: #ffa500;
// 通用卡片阴影
$shadow-card:
    0px 4px 20px rgba(113, 113, 113, 0.25),
    0px 0px 0px 1px rgba(113, 113, 113, 0.1);

// 通用颜色
$general-black: #111;
$general-white: #fff;
$width: clamp(90px, 106px, 200px);
$insideShadow:
    calc($width * 0) calc($width * -0.025) calc($width * 0.025) 0 hsl(210 10% 10% / 0.15) inset,
    calc($width * 0) calc($width * 0.025) calc($width * 0.025) 0 hsl(210 10% 10% / 0.65) inset;

// 主题配置Map
$themes: (
    light: (
        // 文字
        --text-color: #111,
        --text-sec-color: #596164,
        // 阴影
        --shadow-card: 2px 4px 8px rgba(0, 0, 0, 0.5),
        // 卡片背景色
        --card-background: #ecf8ff
    ),

    dark: (
        // 文字
        --text-color: #f9f9f9,
        --text-sec-color: #cfd2d5,
        // 阴影
        --shadow-card: 2px 4px 8px rgba(255, 255, 255, 0.5),
        // 卡片背景色
        --card-background: #bac6cd
    )
);

// 主题工具函数
@mixin theme-foreach {
    @each $theme-name, $theme-map in $themes {
        [data-theme="#{$theme-name}"] & {
            @content;
        }
    }
}

@function themed($key) {
    @return var(--#{$key});
}

// 应用主题变量到CSS
@each $theme-name, $theme-map in $themes {
    [data-theme="#{$theme-name}"] {
        @each $key, $value in $theme-map {
            #{$key}: $value;
        }
    }
}

// 定义过渡时间变量（可根据需要调整）
$theme-transition-duration: 0.5s;
$theme-transition-timing: cubic-bezier(0.25, 0.46, 0.45, 0.94);
// 基础过渡混入
@mixin theme-transition {
    transition:
        background-color $theme-transition-duration $theme-transition-timing,
        color $theme-transition-duration $theme-transition-timing,
        border-color $theme-transition-duration $theme-transition-timing,
        box-shadow $theme-transition-duration $theme-transition-timing;
}

// 普通背景色
@mixin background($color-key) {
    @include theme-foreach {
        background-color: themed($color-key);
    }
    @include theme-transition();
}
//文字颜色
@mixin text-color($color-key) {
    @include theme-foreach {
        $current-color: themed($color-key);
        color: $current-color;
    }
    @include theme-transition();
}
// 阴影
@mixin boxshadow($color-key) {
    @include theme-foreach {
        box-shadow: themed($color-key);
    }
    @include theme-transition();
}
